
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    margin: auto;
}


/* Parent container */
.qr-code-and-text-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    margin: 10% auto;
    box-shadow: 10px 5px 20px #999999;
}

/* Child Container */
.qr-code-container {
    margin: 0px;
    padding: 15px;
    border-radius: 20px;
}

/* Child Container */
.qr-code-container img {
    display: flex;
    width: 270px;
    height: 270px;
    border-radius: 20px;
}

/* Child Container */
.text-below-qr-container {
    font-family: "Outfit";
    text-align: center;
    margin: auto 20px;
    padding: 10px;
}

/* Child Container, h3 text */
.text-below-qr-container h3 {
    font-weight: 700;
}

/* Child Container, p text */
.text-below-qr-container p {
    font-weight: 300;
    color: hsl(220, 15%, 55%);
}

/* Attribution / Footer */
footer {
    position: sticky;
    margin-top: 0px auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

footer a {
    color: hsl(228, 45%, 44%);
}